.transfer {
  height: 490px;

  .labels {
    margin-top: 50px;
  }

  .send-input,
  .receive-input {
    width: 373px;
  }
  .btn {
    background: white;
    color: #7371ea;
    border: 1px solid #d6d6d6;
  }
  .dest-input,
  .free-amount {
    width: 432px;
    margin-bottom: 20px;
  }
  .receive-input,
  .free-amount {
    background: #d1d1d1;
  }
  .nextBtn {
    border: none;
    background: #7371ea;
    color: white;
    height: 35px;
    float: right;
    margin-right: 100px;
  }
}
