.btn {
  background: #7371ea;
  color: #ffffff;
  margin-left: 90px;
}

.input {
  height: 35px;
  align-items: center;
}

.checkbox {
  margin-top: 13px;
  margin-bottom: 13px;
  display: flex;
  flex-direction: row-reverse;
  color: #7371ea;
  justify-content: space-evenly;
}
