.mobile-register {
  background: linear-gradient(#7371ea, #7ad9ed);
  width: 100%;
  height: 100%;
  position: relative;

  .main-logo {
    width: 140px;
    float: right;
    margin-right: 40px;
    margin-top: 50px;
  }
  .always {
    margin-top: 50px;
    margin-right: 20px;
    line-height: 14px;
  }
  .hello {
    margin-right: 190px;
  }
  .under-hello {
    margin-right: 140px;
  }
  .err {
    color: red;
    text-align: left;
    margin-left: 10px;
  }
  .input-box {
    width: 400px;
    padding: 20px;
    background: #ffffff;
    text-align: center;
    border-radius: 7px;
    position: relative;

    input {
      border: none;
      outline: none;
      background: none;
      font-size: 18px;
      width: 90%;
      float: left;
      margin: 0 10px;
      border-bottom: 2px solid #7371ea;
      margin-right: auto;

      input:focus {
        box-shadow: inset 0 -1px 0 #ddd;
      }
    }

    input[type='text'] {
      margin-top: 40px;
      background: #ffffff;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #7371ea;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #7371ea;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #7371ea;
    }
    .confirmBtn {
      color: #ffffff;
      outline: none;
      border: none;
      background: linear-gradient(#7371ea, #7ad9ed);
      margin-left: 0;
      width: 120px;
      margin-bottom: 30px;
    }
  }

  .logo {
    margin-left: 18px;
    justify-content: center;
    display: block;
  }
  .money-gram {
    margin-bottom: 20px;
  }
  a {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 5px;
  }
}

@media (max-width: 476px) {
  .mobile-register {
    .main-logo {
      margin-top: 40px;
      position: absolute;
    }
    .always,
    .open {
      font-size: 28px;
    }
    .under-hello {
      white-space: nowrap;
    }
    .hello,
    .under-hello {
      margin-left: 20px;
    }

    .input-box {
      width: 90%;
    }
    .logo,
    .money-gram,
    .register {
      margin-left: 110px;
    }
    .logo {
      margin-left: 130px;
    }
  }
}
