.text-custom {
  color: #7371ea;
  line-height: 10px;
}

.registerBtn {
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 3px;
  width: 80px;
  background: linear-gradient(#7371ea, #7ad9ed);
  margin-left: 140px;
  margin-top: 30px;
}

.input {
  height: 35px;
  align-items: center;
}
